* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
}

.code-area {
  width: 45%;
  display: flex;
  flex-direction: column;
  border-right: 5px solid gray;
}

.console {
  border-top: 5px solid gray;
  padding: 0.5rem;
}

.content {
  overflow: hidden;
  width: 55%;
  padding: 2rem;
}
